* {
  margin: 0;
  border: 0;
}

.box {
  display: flex;
  height: 100vh;
}

.container-left {
  float: left;
  background-color: red;
  width: 300px;
  color: white;
  font-size: 2em;
  padding: 20px;
}

.container-right {
  float: right;
  background-color: blue;
  width: 300px;
  color: white;
  font-size: 2em;
  padding: 20px;
}

.container-middle {
  background-color: purple;
  font-size: 2em;
  padding: 20px;
}
